
body {
  width: 100%;
  position: absolute;
 height: auto;     
  background-color: #064435;
  overflow-x: hidden;
  overflow-y: auto;   
  top: 0;
}

 
.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}
  .form{
          width: 80%;
          height: auto;
          background-color: white;
          border-radius: 1rem;
          box-shadow: 0 5px 10px 0 black;
      transition: all .15s ease-in-out;
      }
      .form:hover{
           box-shadow:none;


      }
  .formFirstSEction{
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
      position: relative;
      border-radius: 1rem 1rem 0 0;
      width: 100%;
      height: 40vh;
      background-color:#075643;



  }
  .imageBox { 
      display: flex;
      justify-content:center;
      width: 40%;
      height: 38vh;
      padding: .5rem;
      margin-right: -20px;
  }
  .imageBox>img{
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  }
  .textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;       
    min-width: 120px;    
    min-height: 30vh;         
    font-family: inherit;
  margin: 0 1rem 0 .5rem;
    box-sizing: border-box; 
    padding: .5rem;
  }

  .textBox > p {
    font-size: clamp(1.25rem, 3vw, 5rem); 
    color: white;
    text-transform: uppercase;
    line-height: 1.3;   
    margin: 0 0 .5rem 0;
  }

  .textBox > h2 {
    color: #65958C;
    font-size: clamp(1.25rem, 3vw, 1.8rem); 
    font-weight: 100;
    line-height: 1.3;      
  }
  .FORM{
    padding: 0 4rem 0 4rem;
    margin-bottom: 4rem;
  }
  .fullFieldBox{
    display: flex;
    flex-direction: column;
  }
  .FieldBox{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: .5rem;
    flex-wrap: wrap;

  }
  .NameFBox{
    display: flex;
    flex-direction: column;
  
  }
  input,select{
    outline: none;
    border: 2px solid lightgray;
    border-radius: .25rem;
    padding: 0 0 0 1rem;
  }
  .NameFBox >input{
    width: 95%;
    height: 2rem;
  
  } 
  .NameLBox>input{
    width: 95%;
    height: 2rem;
  } 
  /* for all paragraphs */
  .NameLBox >p,.DOBBox>p,.NameFBox >p,.strAddBox>p,.AreaBox>p,.cityBox>p{
  color: #4b4b52;
 margin: 0 0 4px 0;
  } 
  .fullFieldBox>h3,.uploadingImage>h3{
    font-size: 20px;
    color: #2C3345;

  }
  .NameLBox{
    display: flex;
    flex-direction: column;
  }
  /* for all fields flexing */
.NameFBox,
.NameLBox,.DOBBox,.strAddBox,.AreaBox,.cityBox {
   flex: 1 1 200px;   
}
.DOBBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;  
}

.DOBBox > input {
  height: 2rem;
  width: 95%;      
}

.strAddBox{
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
   margin-bottom: 10px;

}
.strAddBox>input{
  height: 2rem;
  width: 95%;
}

.cityBox,.AreaBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.cityBox>select,.AreaBox>select{
  width: 95%;
  height: 2rem;
}
.genderfBox{
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.genderBox{
  display: flex;
  flex-direction: column;
}
.genderfBox>input{
  width: 20px;
}
.genderfBox>h2{
 color: #4b4b52;
 margin: 0 0 4px 0;
 font-size: 20px;
 font-weight: 100;
}

.button{
    margin-top: 20px;
    width: 10 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    border-top: 1px solid lightgray;
}
button{
 background: linear-gradient(to bottom, #000000, #555454);
 padding: 1rem 3rem 1rem 3rem ;
 font-size: 20px;
 color: white;
 border-radius: 7px;
 transition: all .15s ease-in-out;
}
button:hover{
  background:  linear-gradient(to bottom, #555454, #000000);
}


/* for uploading image */

.fileBox {
  border: 2px dashed #aaa;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  color: #555;
  transition: border-color 0.3s;
  background: #f9faff;
}

.fileBox:hover {
  border-color: #1a73e8;
}
.fileBox>i{
  font-size: 35px;
}



.messLink{
  display: flex;
  gap: 1rem;
}

/*  */

.success{
  border: 2px solid #2ecc71
}
.error{
   border: 2px solid #e74c3c;
}

/* for smart info */
.cotainerBoxInfo {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(179, 178, 178, 0.397);
}


.info-box {
  position: fixed;
margin: 0 auto;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 800px;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  z-index: 9999;
  
}
.info-box.show{
   
 animation: fadeInScale  0.9s ease forwards;
}
.info-box.hide{
  animation: fadeOutScale  0.9s ease forwards;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Hide animation (fade + scale down) */
@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}


.info-box h2 {
  font-family: 'Poppins', sans-serif;
  color: #004d40;
  text-align: center;
  margin-bottom: 15px;
}

.info-box h3 {
  color: #00695c;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.info-box ul {
  margin: 10px 0 20px 20px;
  line-height: 1.8;
}

.info-box p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  text-align: justify;
}
#Crossbutton{
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
@media (max-width: 575px) {
  .info-box {
    height: 100vh;
    padding: 0.8rem;
    font-size: 14px;
  }

  .info-box h2 {
    font-size: 18px;
  }

  .info-box h3 {
    font-size: 16px;
  }

}



/* for small devices handling */
@media (max-width: 768px) {
  .DOBBox {
    max-width: 100%;
  }

}
